[submodule "vendor"]
	path = vendor
	url = https://github.com/cloudfoundry/govendor
[submodule "src/github.com/cloudfoundry/gosteno"]
	path = src/github.com/cloudfoundry/gosteno
	url = https://github.com/cloudfoundry/gosteno
[submodule "src/github.com/apcera/nats"]
	path = src/github.com/apcera/nats
	url = https://github.com/apcera/nats
[submodule "src/github.com/cloudfoundry/go_cfmessagebus"]
	path = src/github.com/cloudfoundry/go_cfmessagebus
	url = https://github.com/cloudfoundry/go_cfmessagebus
